:root {
    --bg-button: #630045;
    
}

.button {
    font-size: 1.4rem;
    background-color: #393939;
    border: none;
    border-radius: 25px;
    margin: 5px;
    color: #FFFFFF;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #630045;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #B6007F;
    border-radius: none;
}

.button.operation:active {
    background-color: #86005e;
}
