@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf')
}

@font-face {
  font-family: 'Rampart One';
  src: url('./fonts/RampartOne-Regular.ttf');
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto', monospace;
  background: linear-gradient(to right, rgb(161, 1, 100), rgb(149, 0, 137));
}

body .titleApp {
  font-family: 'Rampart One', cursive;
  font-size: 2.6rem;
  color: #450030;
}